﻿<div class="modal fade" data-backdrop="static" data-keyboard="false" id="deleteConfirmationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-header">Confirm Delete</h5>
                <button type="button" class="close" data-bs-dismiss="modal" arai-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete?
            </div>
            @if (IsParentComponentProcessing)
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" disabled>Processing...</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" disabled>Cancel</button>
                </div>
            }
            else
            {
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="() => OnConfirmationDelete(true)">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="() => OnConfirmationDelete(false)">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>