﻿@page "/category"

@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _jsRuntime

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="OnConfirmDeleteClick"> </_DeleteConfirmation>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="category/create" class="btn btn-primary form-control">Add New Category</a>
    </div>
    <div class="col-12">
        @if (Categories.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Categories)
                    {
                        <tr>
                            <td>@cat.Name</td>
                            <td>
                                <NavLink href="@($"category/edit/{cat.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="() => HandleDelete(cat.Id)">Delete</button>
                                </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //Load GIF
                <div class="text-center">
                    <img src="/images/Loading.gif">
                </div>
            }
            else
            {
                //No Records
                <p>No Records Found...</p>
            }
        }
    </div>
</div>