﻿@page "/product"

@inject IProductRepository _productRepository
@inject IFileUpload _fileUpload
@inject IJSRuntime _jsRuntime

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="OnConfirmDeleteClick"> </_DeleteConfirmation>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Product List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="product/create" class="btn btn-primary form-control">Add New Product</a>
    </div>
    <div class="col-12">
        @if (Products.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Shop Favorites</th>
                        <th>Customer Favorites</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prod in Products)
                    {
                        <tr>
                            <td>@prod.Name</td>
                            <td><input type="checkbox" disabled checked="@prod.ShopFavorites"></td>
                            <td><input type="checkbox" disabled checked="@prod.CustomerFavorites"></td>
                            <td>@prod.Category.Name</td>
                            <td>
                                <NavLink href="@($"Product/edit/{prod.Id}")" class="btn btn-primary">Edit</NavLink>
                                <button class="btn btn-danger" @onclick="() => HandleDelete(prod.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //Load GIF
                <div class="text-center">
                    <img src="/images/Loading.gif">
                </div>
            }
            else
            {
                //No Records
                <p>No Records Found...</p>
            }
        }
    </div>
</div>