﻿@page "/learnblazor/bindprop"

<h2 class="text-success">Individual Product</h2>
<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground - Two Way Data Binding</h3>
        <hr />
        <div>
            Active: <input type="checkbox" @bind-value="Product.IsActive" checked="@(Product.IsActive ? "checked" : null)" /><br />
        </div>
        <div>
            Price: <input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" /><br />
        </div>
        <div>
            Product Properties:
            <select @bind="selectedProperty">
                @foreach (var prop in @Product.ProductProperties)
                {
                    <option value="@prop.Key">@prop.Key</option>
                }
            </select>
        </div>
        @*This works the same as above
            Price: <input type="number" @bind="@Product.Price" @bind:event="oninput" />
        *@
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3>
        <hr />
        Name: @Product.Name<br />
        Active: @Product.IsActive<br />
        Price: @Product.Price<br />
        This Product is: @(Product.IsActive ? "Active" : "Inactive")<br />
        @if (!string.IsNullOrWhiteSpace(selectedProperty))
        {
            <p>
                Selected Property: @selectedProperty<br />
                Property Value: @Product.ProductProperties.FirstOrDefault(f => f.Key == selectedProperty).Value
            </p>
        }
    </div>

    <div class="col-12 pt-4">
        <h2 class="text-success">Product Table</h2>
        <table class="table table-striped">
            <tbody>
                @foreach (var product in Products)
                {
                    <tr>
                        <td>
                            <input type="text" @bind-value="product.Name" @bind-value:event="oninput" />
                        </td>
                        <td>
                            <input type="number" @bind-value="product.Price" @bind-value:event="oninput" />
                        </td>
                        <td>
                            <input type="checkbox" @bind-value="product.IsActive" checked="@(product.IsActive ? "checked" : null)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br /><br />
        <h2>Product Summary</h2>
        @foreach (var product in Products)
        {
            <p>@product.Name [$@product.Price] is @(product.IsActive ? "Active" : "Inactive")</p>
        }
    </div>
</div>