﻿@page "/learnblazor/blazorjs"

@inject IJSRuntime _JsRuntime

<h3>BlazorJs</h3>
<div class="row">
    <button class="btn btn-secondary m-2" style="width:200px" @onclick="TestConfirmBox">Test Confirm Button</button>
</div>
<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick="ToastrSuccess">Toastr Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick="ToastrFailure">Toastr Failure</button>
</div>
<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick="SweetAlertSuccess">SweetAlert Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick="SweetAlertFailure">SweetAlert Failure</button>
</div>

<div class="row">
    @if (confirmResult)
    {
        <p>Confirmation has been made!</p>
    }
    else
    {
        <p>Confirmation Pending!</p>
    }
</div>