﻿@page "/learnblazor/learnrouting/{parameter1:int}/{parameter2}"
@page "/learnblazor/learnrouting/{parameter1}"
@page "/learnblazor/learnrouting"
@page "/learnrouting"

@inject NavigationManager _NavigationManager

<h3>LearnRouting</h3>

<h4>Parameter 1: @Parameter1</h4>
<h4>Parameter 1: @Parameter2</h4>

@*<a href="learnrouting?Param1=Recipes&Param2=Blazor" class="btn btn-primary">Navigate to Query Parameter</a>*@
<button @onclick="NavigateToQueryParam" class="btn btn-primary">Navigate to Query Parameter</button>
<button class="btn btn-success" @onclick="LoadParameters">Load Parameters</button>
<br />
<h3>Query String Parameters:</h3>
<h4>Param 1: @Param1</h4>
<h4>Param 1: @Param2</h4>