﻿@page "/learnblazor/lifecycle"

<h3>LifeCycle</h3>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
@Count <button @onclick="StateHStartCountdown">Start Countdown</button>

<div class="border">
    <_LiveCycleChild CountValue="@currentCount"></_LiveCycleChild>
</div>

<hr />
@foreach (var item in EventType)
{
    @item
    <hr />
}