﻿@page "/learnblazor/parentcomponent"

<h3>Parent / Child Relation</h3>

<CascadingValue Name="message" Value="@MessageForGrandchild">
    <CascadingValue Name="luckyNumber" Value="@MessageForGrandchild">
        <_ChildComponent @ref="childComp" OnButtonClick="ShowMessage" Title="This title is passed as a parameter from the Parent Component">
            <ChildContent>Render Fragment From Parent! WooHoo!</ChildContent>
            @*<DangerChildContent>Danger Content from Render Fragment! WooHoo!</DangerChildContent>*@
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>
<p><b>@MessageText</b></p>
<_AnotherChildComponent placeholder="Placeholder from Parent"></_AnotherChildComponent>

<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick="() => childComp.ToastrSuccess()">Toastr Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick="() => childComp.ToastrFailure()">Toastr Failure</button>
</div>
<div class="row">
    <button class="btn btn-success m-2" style="width:200px" @onclick="() => childComp.SweetAlertSuccess()">SweetAlert Success</button>
    <button class="btn btn-danger m-2" style="width:200px" @onclick="() => childComp.SweetAlertFailure()">SweetAlert Failure</button>
</div>

@*<_ChildComponent Title="This is second Child Component" />*@