﻿@page "/learnblazor/demoproduct"

<h2 class="text-primary">Demo Product</h2>
<p>Total Favorites: @selectedFavoritesCount</p>
@if (!string.IsNullOrWhiteSpace(lastSelectedProductName))
{
    <p>Last Selected Product: @lastSelectedProductName</p>
}
<div class="border p-2 mt-2" style="background-color:azure">
    <div class="row">
        @foreach (var prod in Products)
        {
            <_IndividualProduct Product="prod" OnFavoritesUpdated="FavritesCountUpdate" OnLastSelectedProductChange="SelectedProductUpdate">
                <FirstFragment>#1</FirstFragment>
                <SecondFragment>#2</SecondFragment>
            </_IndividualProduct>
        }
    </div>
</div>