﻿<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    <input id="nameTemp" @attributes="InputAttributes" placeholder="Child Placeholder" />@*placeholder after attributes will displace placehodler - attributes after placeholder will displace attributes*@
</div>