﻿@inject IJSRuntime _JsRuntime

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (DangerChildContent != null)
        {
            <span>@DangerChildContent</span>
        }
        else
        {
            @if (ChildContent != null)
            {
                <span>@ChildContent</span>
            }
            else
            {
                <span>Hello, from Empty Render Fragment</span>
            }
        }
    </div>
    <button class="btn btn-danger" @onclick="OnButtonClick">Button to be Clicked</button>
    <_GrandchildComponent></_GrandchildComponent>
</div>