﻿<div class="row">
    <h4 class="text-primary p-lg-4 pt-4 col-12">Grandchild Component</h4>
    <p>There is a message - @MessageForGrandchild</p>
    <p>Lucky Number - @LuckyNumberForGrandchild</p>
</div>