﻿<div class="bg-light border m-1 col-5" @onclick="(e) => LastSelectedProduct(e, Product.Name)">
    <h4 class="text-secondary">Product - @Product.Id</h4>
    <input type="checkbox" @onchange="FavoritesUpdated" /> Add to Favorites<br /><br />
    Name: @Product.Name<br />
    <p>RF from Parent: @FirstFragment @SecondFragment</p>
    Show Properties: <input type="checkbox" @bind-value="Product.IsActive" checked="@(Product.IsActive ? "checked" : null)">

    @if (Product.IsActive)
    {
        @foreach (var prop in Product.ProductProperties)
        {
            <p>@prop.Key: @prop.Value</p>
        }
    }
    <br />
    <_EditDeleteButton IsActive="@Product.IsActive" />
</div>